<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Popularidad de las sugerencias</title>
</head>

<body>
	<h1>Popularidad de las sugerencias</h1>
	<table border="1">
		<tr>
			<th>Nombre</th>
			<th>Comentarios</th>
			<th>Apoyos</th>
			<th>En contra</th>
		</tr>
		<tr th:each="est : ${estadisticas}">
			<td th:text="${est.titulo}">Onions</td>
			<td th:text="${est.valores.get(0)}">2.41</td>
			<td th:text="${est.valores.get(1)}">2.41</td>
			<td th:text="${est.valores.get(2)}">2.41</td>
		</tr>
	</table>

</body>
</html>