<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Popularidad de las sugerencias</title>
<script type="text/javascript">
	var connect = function() {
		var source = new EventSource('/userPriv/updates');
		 // Handle correct opening of connection
        source.addEventListener('open', function (e) {
            console.log('Connected.');
        });
		 
		
		
		// Reconnect if the connection fails
		source.addEventListener('error', function(e) {
			console.log('Disconnected.');
			if (e.readyState == EventSource.CLOSED) {
				connected = false;
				connect();
			}
		}, false);
	};
	
	var source = new EventSource('/userPriv/updates');
	
	 source.addEventListener('evento', function(event){
		 var sugerence = JSON.parse(event.data);
		 var t = document.getElementById("table");
		 if(sugerence.tipo === "newSugerence"){
			 var row = t.insertRow(-1);
			 row.insertCell(0).innerHTML = "<td>" + sugerence.title + "</td>";
			 row.insertCell(1).innerHTML = "<td>" + 0 + "</td>";
			 row.insertCell(2).innerHTML = "<td>" + 0 + "</td>";
		 }
		 else if ( sugerence.tipo === "newComentary"){
			 $('th').filter(function() {
					return $(this).text() === "Titulo 1";
				}).closest('tr').children('td').eq(1).html(33);
		 }
		 else if( sugerence.tipo === "upvote"){
			 $('th').filter(function() {
					return $(this).text() === sugerence.title;
				}).closest('tr').children('td').eq(2).html(sugerence.votos);
		 }
	 });
	 
</script>
</head>

<body>
	<h1>Popularidad de las sugerencias</h1>
	<table id="table" border="1">
		<tr>
			<th>Nombre</th>
			<th>Comentarios</th>
			<th>Apoyos</th>
		</tr>
		<tr th:each="est : ${estadisticas}">
			<td th:text="${est.titulo}">Onions</td>
			<td th:text="${est.campos.get('Comentarios')}">2.41</td>
			<td th:text="${est.campos.get('Apoyos')}">2.41</td>
		</tr>
	</table>

</body>
</html>