<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Popularidad de las sugerencias</title>
<script type="text/javascript">
	var connect = function() {
		var source = new EventSource('/register');
		 // Handle correct opening of connection
        source.addEventListener('open', function (e) {
            console.log('Connected.');
        });
		 
		 source.addEventListener('newSugerence', function(event){
			 sseData = JSON.parse(event.data);
	         table.rows.add(sseData).draw()
		 });
		
		// Reconnect if the connection fails
		source.addEventListener('error', function(e) {
			console.log('Disconnected.');
			if (e.readyState == EventSource.CLOSED) {
				connected = false;
				connect();
			}
		}, false);
	};
</script>
</head>

<body>
	<h1>Popularidad de las sugerencias</h1>
	<table id="table"border="1">
		<tr>
			<th>Nombre</th>
			<th>Comentarios</th>
			<th>Apoyos</th>
		</tr>
		<tr th:each="est : ${estadisticas}">
			<td th:text="${est.titulo}">Onions</td>
			<td th:text="${est.campos.get('Comentarios')}">2.41</td>
			<td th:text="${est.campos.get('Apoyos')}">2.41</td>
		</tr>
	</table>

</body>
</html>